<div class="card flex justify-content-center">
    <p-card header="Benevenuto nel mio Portfolio">
        <h5>Ciao, sono Simone!</h5>
        <p class="m-0">
            Sono un appassionato sviluppatore web con una formazione acquisita presso la prestigiosa 24 Ore
            Business School.
            Ho recentemente completato un corso che ha coperto una vasta gamma di argomenti, da Web Standards a Angular,
            passando per HTML, CSS, JavaScript, TypeScript, OOP, Git e molto altro.
        </p>
        <p><strong>Competenze chiave nelle seguenti aree:</strong></p>
        <ul>
            <li>Linguaggi di programmazione: HTML, CSS, JavaScript, TypeScript</li>
            <li>Framework: Angular (Componenti, Modelli, Moduli, Pipe e Direttive, Ciclo di vita, Eventi e Listener,
                Form driven by Template, Form driven by Data, Angular HTTP, Content Projection, Guards, Routing, Child
                Routing, Lazy Loading, Interceptor)</li>
            <li>Librerie: RxJS, NGBootstrap, PrimeNG</li>

        </ul>

        <p>Il mio interesse principale si estende anche al mondo della blockchain, un settore che trovo affascinante. La
            combinazione delle mie competenze tecniche e della passione per la blockchain mi spinge a esplorare
            soluzioni innovative e a contribuire al progresso tecnologico.</p>

        <p><strong>Obiettivi:</strong></p>

        <p> Cerco costantemente opportunità per crescere professionalmente, contribuire a progetti stimolanti
            e
            approfondire la mia comprensione della blockchain.</p>

        <p>Sarei entusiasta di unirmi a team dinamici e collaborativi, portando la mia passione e le mie competenze per
            creare soluzioni di successo.</p>

    </p-card>
</div>