<!-- <ul ngbNav #nav="ngbNav" class="nav-tabs"> 
    <li ngbNavItem>
      <button [routerLink]="['random']" ngbNavLink  >Random</button>
      
    </li>
    <li ngbNavItem>
      <button [routerLink]="['categorie']" ngbNavLink>Categorie</button>
      
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div> -->

<div class="card flex flex-wrap gap-3 justify-content-center">
  <p-button label="random" [routerLink]="['random']"></p-button>

  <p-button label="categorie" [routerLink]="['categorie']"></p-button>
</div>