
<!--<div *ngIf="show" class="d-flex justify-content-end">
    <ngb-toast style="position:absolute"  header="ERRORE" [autohide]="false" (hidden)="show=false">
        Errore nella chiamata HTTP
    </ngb-toast>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 w-20" *ngFor="let category of categorie">
            <button class="btn mat-raised-button mb-3 hover-shadow" (click)="open(content,category)">
                {{ category }}
            </button>
        </div>
    </div>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title"> {{joke.categories[0] | uppercase }}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p> {{joke.value | uppercase}}</p>
	</div>
</ng-template>
-->

<div *ngIf="show" class="d-flex justify-content-end">
    <p-toast position="top-center" key="tc"  header="ERRORE" [autohide]="false" (hidden)="show=false">
        Errore nella chiamata HTTP
    </p-toast>
</div>
<div  *ngFor="let category of categorie" class="card flex flex-wrap gap-3 justify-content-center" >
    <p-button (click)="showDialog(category)" icon="pi pi-external-link" label="{{ category }}"></p-button>
</div>
    <p-dialog [header]="showCategori" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
            <ng-container *ngIf="joke">
                <div>
                    <p> {{joke.value | uppercase}}</p>
                </div>
            </ng-container>
    </p-dialog>
