<div class="m-4">
    <div class="card flex justify-content-center my-5">
        <p-card header="Benvenuti">
            <p class="m-0">
                Benvenuto nel nostro mondo dedicato al benessere dei tuoi amici
                a quattro zampe! Presso [Nome del Sito], ci impegniamo a offrire
                servizi di alta qualità per la cura, la felicità e la salute dei
                tuoi cari cani e gatti.
            </p>
        </p-card>
    </div>
    <div class="grid my-5 sm:mx-0 md:mx-3">
        <div class="card flex justify-content-center sm:col-12 md:col mb-3">
            <p-card header="Servizi:">
                <p class="m-0">
                    Grazie alla nostra piattaforma user-friendly, puoi prenotare
                    i servizi desiderati in pochi clic. Scegli tra una vasta
                    gamma di opzioni, dai bagni rinfrescanti alle sessioni di
                    toelettatura personalizzate. Pulizia e Cura dei Denti, la
                    salute dentale è fondamentale per il benessere generale.
                    Offriamo servizi professionali di pulizia e cura dei denti
                    per mantenere il sorriso luminoso e la salute dentale dei
                    tuoi amici pelosi.
                </p>
            </p-card>
        </div>
        <div class="card flex justify-content-center sm:col-12 md:col">
            <p-card header="Perché Scegliere Noi:">
                <p class="m-0">
                    Affidabilità: Siamo appassionati degli animali tanto quanto
                    lo sei tu, e la loro sicurezza e felicità sono al centro di
                    tutto ciò che facciamo. Convenienza: Il nostro sistema di
                    prenotazione online rende tutto il processo rapido e senza
                    stress, garantendo che tu possa dedicare più tempo ai tuoi
                    pelosi amici. Professionisti Dedicati: Il nostro team è
                    composto da esperti nel settore, pronti a offrire cure di
                    alta qualità e amorevole attenzione ai tuoi animali
                    domestici.
                </p>
            </p-card>
        </div>
    </div>
    <!--<div class="card flex justify-content-center col my-5">
        <p-card header="Title">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa
                ratione quam perferendis esse, cupiditate neque quas!
            </p>
        </p-card>
    </div>-->
</div>
