<div class="m-4">
    <div class="card flex justify-content-center my-5">
      <p-card header="Title">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
          consequuntur error repudiandae numquam deserunt quisquam repellat libero
          asperiores earum nam nobis, culpa ratione quam perferendis esse,
          cupiditate neque quas!
        </p>
      </p-card>
    </div>
    <div class="grid my-5 sm:mx-0 md:mx-3">
      <div class="card flex justify-content-center sm:col-12 md:col mb-3">
        <p-card header="Title">
          <p class="m-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
            sed consequuntur error repudiandae numquam deserunt quisquam repellat
            libero asperiores earum nam nobis, culpa ratione quam perferendis
            esse, cupiditate neque quas!
          </p>
        </p-card>
      </div>
      <div class="card flex justify-content-center sm:col-12 md:col">
        <p-card header="Title">
          <p class="m-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
            sed consequuntur error repudiandae numquam deserunt quisquam repellat
            libero asperiores earum nam nobis, culpa ratione quam perferendis
            esse, cupiditate neque quas!
          </p>
        </p-card>
      </div>
    </div>
    <div class="card flex justify-content-center col my-5">
      <p-card header="Title">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
          consequuntur error repudiandae numquam deserunt quisquam repellat libero
          asperiores earum nam nobis, culpa ratione quam perferendis esse,
          cupiditate neque quas!
        </p>
      </p-card>
    </div>
  </div>
  