<div class="card flex justify-content-center my-5">
    <p-card
        header="Benvenuto su Chuck Norris Jokes App! L'Humor Irresistibile del Leggendario Chuck Norris a Portata di App"
    >
        <p class="m-0">
            Se ami l'umorismo tagliente e le battute leggendarie, sei nel posto
            giusto! Chuck Norris Jokes App è la tua app definitiva per
            immergerti nel mondo esilarante delle battute su Chuck Norris. Con
            la possibilità di ottenere battute casuali o selezionare categorie
            specifiche.
        </p>
    </p-card>
</div>

<div class="card">
    <h2>Le Battute di Chuck Norris</h2>
    <app-navbar></app-navbar>
</div>

<div>
    <router-outlet> </router-outlet>
</div>
