<p-card>
<div class="global">
  <p-menubar class="menubar">
      <div class="nav-icons">
                  <a pButton pRipple icon="pi pi-home"  class="p-button-rounded p-button-text" aria-label="Home" ></a>
                  <a pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-text" aria-label="Search"></a>
                  <a pButton pRipple class="p-button-text"  label="Computer" aria-label="Computer"></a>
                  <a pButton pRipple class="p-button-text"  label="Tablet" aria-label="Tablet"></a>
                  <a pButton pRipple class="p-button-text"  label="SmartPhone" aria-label="SmartPhone"></a>
                  <a pButton pRipple class="p-button-text"  label="Watch" aria-label="Watch"></a>
                  <a pButton pRipple icon="pi pi-shopping-cart" class="p-button-rounded p-button-text" aria-label="Cart"></a>
                  <a pButton pRipple icon="pi pi-heart" class="p-button-rounded p-button-text" aria-label="Favorites"></a>
                  <a pButton pRipple icon="pi pi-user" class="p-button-rounded p-button-text" aria-label="Profile"></a>
      </div>
   </p-menubar>
  </div>
</p-card>